<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="355" height="133" border="1">
    <tr>
      <th width="36" scope="col">name</th>
      <th width="36" scope="col">gender</th>
      <th width="35" scope="col">place</th>
      <th width="28" scope="col">post</th>
      <th width="20" scope="col">pin</th>
      <th width="20" scope="col">ph </th>
      <th width="62" scope="col">area assigned </th>
      <th width="36" scope="col">email</th>
      <th width="66" scope="col">&nbsp; </th>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i[2]}}</td>
      <td>&nbsp;{{i[3]}}</td>
      <td>&nbsp;{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td> {{i[6]}}</td>
      <td> {{i[7]}}</td>
      <td> {{i[9]}}</td>
      <td> {{i[8]}}</td>
      <td><a href="acceptloccord?id={{i[1]}}">Accept</a></td>
      <td><a href="rejectloccord?id={{i[1]}}">reject</a></td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
