<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="editedu2" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <th scope="row">EDUCATIONAL INSTITUTE NAME </th>
      <td><label>
        <input type="text" name="textfield" value="{{val[1]}}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label>
        <input type="text" name="textfield2" value="{{val[2]}}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">POST</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val[3]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PIN</th>
      <td><label>
        <input type="text" name="textfield4"  value="{{val[4]}}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">CONTACT NO </th>
      <td><label>
        <input type="text" name="textfield5" value="{{val[5]}}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label>
        <input type="text" name="textfield6"  value="{{val[6]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">DOCUMENTS</th>
      <td><label>
        <input type="file" name="file" />{{val[7]}}
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="update" />
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
