<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/addjob">
  <table width="338" border="1">
    <tr>
      <th width="33" scope="col">Job type </th>
      <th width="36" scope="col">Place</th>
      <th width="29" scope="col">Post</th>
      <th width="56" scope="col">Contact no </th>
      <th width="74" scope="col">&nbsp;</th>
      <th width="70" scope="col">&nbsp;</th>
    </tr>
    <tr>{% for i in val %}
      <td>&nbsp;{{i[1]}}</td>
      <td>{{i[3]}}</td>
      <td>&nbsp;{{i[2]}}</td>
      <td>&nbsp;{{i[5]}}</td>
      <td><a href="editjob1?id={{i[0]}}">Edit</a></td>
      <td><a href="deljob1?id={{i[0]}}">Delete</a></td>
    </tr>
    {% endfor %}

    <tr>
      <td colspan="6"><label>
        <input type="submit" name="Submit" value="Add" />
      </label></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}